<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
  <div class="bg-[#2a272c] text-white rounded-lg shadow-xl w-96 p-6">
    <h2 class="text-xl font-semibold mb-4">
      {{ user ? 'Editar Usuario' : 'Crear Usuario' }}
    </h2>

    <form (ngSubmit)="saveUser()" class="space-y-4 text-[#bebcbd]">
      <div>
        <label class="block text-sm font-medium mb-2">Nombre</label>
        <input [(ngModel)]="nombre" name="nombre" class="border rounded w-full px-3 py-2 text-gray-700" required />
      </div>
      <div>
        <label class="block text-sm font-medium mb-2">Correo</label>
        <input [(ngModel)]="correo" name="correo" type="email" class="border rounded w-full px-3 py-2 text-gray-700"
          required />
      </div>
      <div>
        <label class="block text-sm font-medium mb-2">Edad</label>
        <input [(ngModel)]="edad" name="edad" type="number" min="1"
          class="border rounded w-full px-3 py-2 text-gray-700" required />
      </div>

      <div class="flex h-full space-x-4 mt-8">
        <button type="button" class="flex-1 bg-[#4b464e] hover:bg-[#3e3941] px-3 py-2 rounded text-white"
          (click)="closeModal()">
          Cerrar
        </button>
        <button type="submit" class="flex-1 bg-[#ff0839] hover:bg-[#c90c31] text-white px-3 py-2 rounded">
          {{ user ? 'Actualizar' : 'Crear' }}
        </button>
      </div>
    </form>
  </div>
</div>